# === Python Related ===
__pycache__/
*.pyc
*.pyo
*.pyd
db.sqlite3
*.egg-info/
__pypackages__/
.ipynb_checkpoints
.pytest_cache/
.mypy_cache/
.dmypy.json
dmypy.json

# === Virtual Environment ===
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# === Media / Uploads ===
media/
uploads/
*.mp4
*.mp3
*.jpg
*.png

# === Logs and Temp Files ===
*.log
*.pot
*.tmp
*.swp
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py.cover
.hypothesis/
cover/

# === Environment Variables ===
.env
.env.*

# === IDE / Editor Files ===
.vscode/
.idea/
*.sublime-workspace
*.sublime-project
.spyderproject
.spyproject
.ropeproject

# === OS-specific ===
.DS_Store
Thumbs.db

# === Other Tools ===
.installed.cfg
.pyre/
.pytype/
cython_debug/
.cursorignore
.cursorindexingignore
.ruff_cache/
site/
.abstra/
marimo/_static/
marimo/_lsp/
__marimo__/
